:root {
  --some: #ffffff;
  --fd: #191414;
  --sd: #1db954;
  --sdx: #1ed760;
  --hove: #1ed760;
}
/* body {
  background-color: var(--fd);
} */
header {
  /* background-color: ; */
  position: relative;
  top: 0;
  font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 54 px;
}
