:root {
  --some: #ffffff;
  --fd: #191414;
  --sd: #1db954;
  --sdx: #1ed760;
  --hove: #1ed760;
  --backgroundForSectionOne: rgb(255, 205, 210);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav ul li a {
  background-color: #000;
  color: white;
  text-decoration: none;
  color: white;
  /* height: 80px; */
}
nav {
  /* margin: 0px 15px; */
  /* margin: 0 auto; */
  /* padding: 0 15px; */
}
ul {
  list-style: none;
  display: flex;
}
ul li {
  /* padding: 28px 17px; */
  margin-left: 10%;
}
a {
  /* padding: 28px 17px; */
}
nav ul li a:hover {
  color: #1ed760;
}
#profileLogo {
  margin: 0px 6px 0px 10px;
  width: 15%;
  border-radius: 100%;
}
#logoSpot {
  width: 70px;
  height: auto;
  margin-right: 100%;
}
.mh-header-primary {
  color: white;
}

section {
  background-color: var(--backgroundForSectionOne);
}

/* section {
  background-color: rgb(41, 65, 171);
} */
